<nav>
  <li>
    <a routerLink="solution/page">Solution Page without query params</a>
  </li>
  <li>
    <a routerLink="solution/page" [queryParams]="{ title: 'Title 1'}">Solution Page with query param: title 1</a>
  </li>
  <li>
    <a routerLink="solution/page" [queryParams]="{ title: 'Title 2'}">Solution Page with query param: title 2</a>
  </li>
  <li>
    <a [routerLink]="['solution/page', '1']">Solution Page with route param id: 1</a>
  </li>
  <li>
    <a [routerLink]="['solution/page', '2']">Solution Page with route param id: 2</a>
  </li>
  <li>
    <a routerLink="solution/page-2" >Link a page-2 (no existe la ruta)</a>
  </li>
</nav>
<button (click)="onClick()">Solution Page without query params (programmatic)</button>

<h3>Nested Page will render here:</h3>
<div>
  <router-outlet></router-outlet>
</div>
