<h1>Title</h1>
<div>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto rerum, quia tenetur debitis accusantium perferendis! Iusto animi non, et, minima velit aut voluptates delectus at repudiandae distinctio eius quis amet.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam excepturi amet vel perferendis laborum, voluptas corrupti vitae, rem debitis asperiores sed necessitatibus eum minima. Autem dolores optio ipsa repellendus. Molestiae.</p>
</div>
<button>Button</button>