.markdown h1 {
  margin: 12px 0;
  font-weight: normal;
}

.markdown h2 {
  margin: 8px 0;
  font-weight: normal;
}

.markdown p {
  margin: 8px 0;
  color: var(--text-color);
}

.markdown ul,
.markdown ol {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--text-color);
}

.markdown code {
  background-color: #dbdbdb4d;
  color: #1669bb;
}

.markdown pre code {
  background-color: inherit;
  color: inherit;
}
