<h3 class="title">Crear Hábito</h3>
<form class="habit-form" [formGroup]="habitForm" (ngSubmit)="handleSubmit()">
  <label>
    Nombre
    <input type="text" formControlName="name" />
  </label>
  @if (errorMessage) {
    <p class="error">{{ errorMessage }}</p>
  }
  <button type="submit">Crear</button>
</form>
<h3 class="title">Tus Hábitos</h3>
<ul class="habits-list">
  @if (habits.length > 0) {
    @for (habit of habits; track habit) {
      <li class="habit">
        {{ habit.habit }}<span class="date">{{ format(habit.date) }}</span>
      </li>
    }
  } @else {
    <div class="no-habits">
      <p>No hay hábitos creados</p>
    </div>
  }
</ul>
