.navigator {
  padding: 24px;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.navbar {
  margin-bottom: 24px;
  width: 48%;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.selector {
  flex: 1;
}

.content {
  height: 100%;
}

.buttons {
  display: flex;
  gap: 12px;
}

.button {
  position: relative;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: var(--border-radius);
  transition: 200ms ease;
  font-size: medium;
  text-decoration: none;
  font-size: 18px;
  color: black;
  background: var(--bg-color);
  transition: 200ms ease;
}
.button::before {
  content: '';
  width: calc(42px + 2px);
  height: calc(42px + 2px);
  position: absolute;
  z-index: -100;
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, #f93024 0%, #f639e1 50%, #8b1bf4 100%);
  color: var(--bg-color);
  border-radius: var(--border-radius);
  transition: 200ms ease;
}

.button.disabled::before {
  background: var(--disabled-color);
}

.button.disabled {
  color: var(--disabled-color);
}
