<div class='navigator'>
    <div class="navbar">
        <select class="selector">
            @for (page of pagesList; track page.link) {
                <option>{{page.title}}</option>
            }
        </select>
        <a [class]="isFirstPage ? 'button disabled' : 'button'" [routerLink]="currentPage.prev"><ng-icon name="heroChevronLeft"></ng-icon></a>
        <a [class]="isLastPage ? 'button disabled' : 'button'" [routerLink]="currentPage.next"><ng-icon name="heroChevronRight"></ng-icon></a>
    </div>
    <div class="content">
        <ng-content></ng-content>
    </div>
</div>