.habit {
  color: var(--primary-color);
  background-color: var(--bg-color);
  font-size: 20px;
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius);
  font-weight: bold;
  padding: 12px 12px;
}
