:root {
  --primary-color: #2196f3;
  --secondary-color: #e91e63;
  --accent-color: #8e13ef;
  --bg-color: #ffffff;
  --text-color: #333333;
  --secondary-text-color: #777777;
  --disabled-color: #ccc9cf;
  --light-grey: #fbfbfb;
  --border-radius: 4px;
  --error-color: red;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
}
